<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container-fluid">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="jumbotron">
				<h1>Welcome <%=user.name%></h1>
			</div>
			<div>
				<form action="/users/profile/?_method=PUT" method="POST">
					Name:
					<input type="text" name="name" value="<%=user.name%>" /><br /><br />
					Username:
					<input
						type="text"
						name="username"
						value="<%=user.username%>"
					/><br /><br />
					<input class="btn btn-primary" type="submit" value="Submit Changes" />
				</form>
				<br />
				<a href="/users/changepassword"
					><input
						class="btn btn-primary"
						type="button"
						value="Change Password" /></a
				><br />
			</div>
			<br />
			<a href="/recipes/new">Add a New Recipe to Recipe Share</a>
			<br />
			<a href="/recipes/">Recipe Index Page</a>
			<br />
			<div id="ownedRecipes">
				<table class="table table-hover">
					<h2>Recipes Contributed</h2>
					<thead>
						<tr>
							<th scope="col">Picture</th>
							<th scope="col">Dish Name</th>
							<th scope="col">Cuisine</th>
						</tr>
					</thead>
					<tbody>
						<% for (let i=0; i < owner.length; i++) { %>
						<tr class="table-secondary">
							<th scope="row">
								<a href="/recipes/<%=owner[i].id%>"
									><img src="<%=owner[i].img%>" width="50" height="50"
								/></a>
							</th>
							<td>
								<a
									href="/recipes/<%=owner[i].id%>"
									style="text-decoration: none"
									><%=owner[i].name%></a
								>
							</td>
							<td><%=owner[i].cuisine%></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<br />
			<div id="favoriteRecipes">
				<table class="table table-hover">
					<h2>Favorite Recipes</h2>
					<thead>
						<tr>
							<th scope="col">Picture</th>
							<th scope="col">Dish Name</th>
							<th scope="col">Cuisine</th>
							<th scope="col">Remove</th>
						</tr>
					</thead>
					<tbody>
						<% for (i=0; i < user.Recipes.length; i++) { %>
						<tr class="table-secondary">
							<th scope="row">
								<a href="/recipes/<%=user.Recipes[i].id%>"
									><img src="<%=user.Recipes[i].img%>" width="50" height="50"
								/></a>
							</th>
							<td>
								<a
									href="/recipes/<%=user.Recipes[i].id%>"
									style="text-decoration: none"
									><%=user.Recipes[i].name%></a
								>
							</td>
							<td><%=user.Recipes[i].cuisine%></td>
							<td>
								<a href="/recipes/removefavorite/<%=user.Recipes[i].id%>"
									><input class="btn btn-primary" type="button" value="Remove"
								/></a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<br />
			<form action="/users/profile?_method=DELETE" method="POST">
				<input class="btn btn-primary" type="submit" value="Delete Account" />
			</form>
		</main>
		<footer></footer>
	</body>
</html>
