<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to Recipe Share</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Dish Name</th>
        <th scope="col">Cuisine</th>
      </tr>
    </thead>
    <tbody>
      <% for (i=0; i < recipes.length; i++) { %>
      <tr>
        <th scope="row"><img src= "<%=recipes[i].img%>" width="50" height="50"></th>
        <td><a href='/recipes/<%=recipes[i].id%>'><%=recipes[i].name%></a></td>
        <td><%=recipes[i].cuisine%></td>
      </tr>
      <% } %>
    </tbody>
</table>
</main>

<footer>
</footer>
</body>
</html>